/* ListaDeComprasPage.css */

.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
  }
  
  .flex-container {
    display: flex;
  }
  
  .button-container {
    display: flex;
  }
  
  .button-container > * {
    margin-right: 10px;
  }
  
  .flex-container {
    display: flex;
    align-items: center; 
  }
  
  .button-container {
    display: flex;
    align-items: center; 
  }
  
  .button-container > * {
    margin-right: 10px;
  }
  .list-item {

    flex-direction: column;
  }
  .buton-Create{
    margin-top: 0px;
  }