.container {
    margin: 20px auto;
    max-width: 600px;
  }
  
  .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .subtitulo {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .añadir-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .input-edit,
  .input-add,
  .select-edit,
  .select-add {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
  }
  .button-add{
    width: 100%;
  }
  .button-save,
  .button-cancel {
    width: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-save:hover,
  .button-cancel:hover {
    background-color: #45a049;
  }
  
  .trash-icon,
  .edit-icon {
    cursor: pointer;
    margin-left: 5px;
  }
  
  .producto-item {
    margin-bottom: 10px;
  }
  
  .error-message {
    color: red;
  }
  