#root {
 
  margin: 0px ;
  padding: 0px;
  display: flex;
  align-items: center;
  
  width: 100%;
}

.navbar {
  width: 70px; 
  background-color: #333;
  color: #fff;
  transition: width 0.3s ease;
}
.navbar.open {
  width: 200px; 
  background-color: #333;
  color: #fff;
  transition: width 0.3s ease;
}

